In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns


from __future__ import absolute_import, division, print_function

import pathlib

In [4]:
dataset_path = "C:/Users/pooja/OneDrive/Desktop/Fuel Efficiency.csv"

dataset_path

'C:/Users/pooja/OneDrive/Desktop/Fuel Efficiency.csv'

In [6]:

column_names = ['MPG','Cylinders','Displacement','Horsepower','Weight',
                'Acceleration', 'Model Year', 'Origin'] 
raw_dataset = pd.read_csv(dataset_path, names=column_names,
                      na_values = "?", comment='\t',
                      sep=" ", skipinitialspace=True)

dataset = raw_dataset.copy()
dataset.tail()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
394,"27,4,140,86,2790,15.6,82,1,ford",mustang,gl,NaN,NaN,NaN,NaN,NaN
395,"44,4,97,52,2130,24.6,82,2,vw",pickup,NaN,NaN,NaN,NaN,NaN,NaN
396,"32,4,135,84,2295,11.6,82,1,dodge",rampage,NaN,NaN,NaN,NaN,NaN,NaN
397,"28,4,120,79,2625,18.6,82,1,ford",ranger,NaN,NaN,NaN,NaN,NaN,NaN
398,"31,4,119,82,2720,19.4,82,1,chevy",s-10,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
dataset.isna().sum()

MPG               0
Cylinders         2
Displacement    201
Horsepower      353
Weight          396
Acceleration    398
Model Year      399
Origin          399
dtype: int64

In [8]:
dataset = dataset.dropna()

In [9]:
origin = dataset.pop('Origin')

In [10]:
dataset['USA'] = (origin == 1)*1.0
dataset['Europe'] = (origin == 2)*1.0
dataset['Japan'] = (origin == 3)*1.0
dataset.tail()

Empty DataFrame
Columns: [MPG, Cylinders, Displacement, Horsepower, Weight, Acceleration, Model Year, USA, Europe, Japan]
Index: []